<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/students" routerLinkActive="active">Link to List StudentList</a>
    </div>
    <div>
        <a routerLink="/courses" routerLinkActive="active">Link to List CourseList</a>
    </div>
    <div>
        <a routerLink="/departments" routerLinkActive="active">Link to List DepartmentList</a>
    </div>
    <div>
        <a routerLink="/examinations" routerLinkActive="active">Link to List ExaminationList</a>
    </div>
    <div>
        <a routerLink="/centers" routerLinkActive="active">Link to List CenterList</a>
    </div>
    <div>
        <a routerLink="/grades" routerLinkActive="active">Link to List GradeList</a>
    </div>
 <!-- END LINKS -->
</div>